.circle-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ed5144;
  opacity: 0.8;
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;
  z-index: 2;
}

.cursor-down {
  opacity: 1;
  background: #372a86;
  transform: scale(0.7);
}

.cursor-up {
  transform: scale(1);
}
