body {
  background-color: #dfded9;
  font-size: 16px;
  color: white;
  margin: 0;
  display: grid;
  height: 100vh;
  place-items: center center;
}

.square {
  background-color: #d4d3cd;
  animation-duration: 1s;
}

.squareHover {
  background-color: #dfded9;
  transition-delay: 1s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.square-container {
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.13);
}

@keyframes squareHover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    background-color: #dfded9;
  }
}
