@font-face {
  font-family: "League Spartan";
  src: url("../../assets/leaguespartan-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "League Spartan";
  background-color: $paper;
  font-size: 16px;
  color: $grey-ink;
  margin: 0;
  display: grid;
  height: 100vh;
  place-items: center center;
  cursor: none;
}

.logo-418 {
  position: fixed;
  top: 0rem;
  left: 0rem;
  font-size: 10em;
  padding: 2rem;
  transition: ease-out 0.2s;
}

.logo-418:hover {
  background: $orange;
  border-radius: 0 0 4px 0;
  color: $paper;
}

.square {
  background-color: $paper;
  animation-duration: 1s;
}

.squareHover {
  background-color: $paper;
  transition-delay: 1s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.square-container {
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.13);
}

.link {
}

.link:hover {
  color: $green;
}
.link:active {
  transform: scale(1.1);
}

@keyframes squareHover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    background-color: $paper;
  }
}
